*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
}

/* header */

#header{

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #e3e6f3;
    box-shadow: 0 5px 15px rgba(0,0,0,0.6);
    border-bottom: 2px solid #088178;
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
    height: 85px;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
   
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    color: black;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    color: black;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active{
    color:#01736c ;
}


#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width:30%;
    height:2px ;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

.logo{
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

/* home page */

#hero{
    background-color: #e3e6f3;
    background-image: url("pngwing.com.png");
    background-repeat: no-repeat;
    background-position: top -10% right 15% ;
    height: 90vh;
    width: 100%;
    padding: 0% 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-transform: capitalize;
    font-size: 30px;
}


#hero h4{
    padding-bottom: 15px;
}
#hero h1{
   color: #088178;
   padding-bottom: 15px;
}
#hero p{
    padding-bottom: 10px;
}
#hero button{
    background-image: url();
    /* background-color: transparent; */
    color: #088178;
    border: 3px solid black ;
    border-radius: 5px;
    padding: 10px;
    /* margin-left: 100px; */
    font-size: 20px;
    cursor: pointer;
    font-weight: 600;
}
#hero h4{
    padding-bottom: 15px;
}