* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}
h4{
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1{
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

body {
    width: 100%;
}

/* header */

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #e3e6f3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
    border-bottom: 2px solid #088178;
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
    height: 85px;
}
/* 
@media (min-width: 600px)and (max-width:1200px) {
    #header {
        background-color: red;
    }
}
 */

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    color: black;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    color: black;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: #01736c;

}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
    transform: scale(1.05);
}

.logo {
    height: 70px;
    width: auto;
    /* border-radius: 50%; */
    /* display: none; */
}
/* 
@media screen and (min-width: 600px)and (max-width:1200px) {
    .logo {
        height: 50px;
        width: auto;
    }
} */



/* home page */

#hero {
    display: flex;
    background-color: #e3e6f3;
    background-position: top -10% right 15%;
    height: 90vh;
    width: 100%;
    padding: 0% 100px;
}

#hero .hero-div-1 {
    height: 90vh;
    width: 100%;
    padding: 0% 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-transform: capitalize;
    font-size: 30px;
}
/* @media screen  and (min-width: 300px)and (max-width: 870px){
    #hero .hero-sub-1 {
    height: 70vh;
    width: 100%;
    padding: 0% 70px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-transform: capitalize;
    font-size: 20px;
    }
} */

#hero .hero-div-2{
    margin-right: 70px;
}

#hero .hero-div-2 img{
    height: 85vh;

}

/* @media screen  and (min-width: 870px)and (max-width: 1100px){
    #hero .hero-sub-2 img {
        margin-top: 10vh;
        height: 500px;

    }
}
@media screen  and (min-width: 300px)and (max-width: 870px){
    #hero .hero-sub-2 img {
        margin-top: 10vh;
        height: 400px;

    }
} */

#hero h4 {
    padding-bottom: 15px;
}

#hero h1 {
    color: #088178;
    padding-bottom: 15px;
}

#hero p {
    padding-bottom: 10px;
}

#hero button {
    background-image: url();
    color: #088178;
    border: 3px solid black;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    font-weight: 600;
}

#hero h4 {
    padding-bottom: 15px;
}

#feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* @media screen and (min-width: 1000px)and (max-width:1300px) {
    #feature{
        display: grid;
        grid-template-columns:auto auto auto ;
        height: 200px;
        width: 30vw;
    }
}
@media screen and (min-width: 800px)and (max-width:1000px) {
    #feature{
        display: grid;
        grid-template-columns:auto auto ;
    }
}
@media screen and (min-width: 300px)and (max-width:800px) {
    #feature{
        display: grid;
        grid-template-columns:auto  ;
        justify-content: space-around;
    }
} */


.fe-box img {
    height: 150px;
    width: 170px;
}

/* @media screen and (min-width: 1000px)and (max-width:1300px) {
    .fe-box img {
        height: 100px;
        width: 120px;
    }
}
@media screen and (min-width: 800px)and (max-width:1000px) {
    .fe-box img {
        height: 80px;
        width: 100px;
    }
} */

#feature .fe-box {
    width: 210px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    /* border: 0.05px solid black; */
    margin: 15px 0;
}

/* @media screen and (min-width: 1000px)and (max-width:1300px) {
    #feature .fe-box {
        width: 180px;
    }
}
@media screen and (min-width: 600px)and (max-width:1000px) {
    #feature .fe-box {
        width: 140px;
    }
} */

#feature .fe-box:hover {
    box-shadow: 10px 10px 54px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);

}

#feature .fe-box h6 {
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    /* color: #088178; */
    background-color: rgb(255, 206, 206);
}

.pro-container img {
    height: 150px;
    width: 150px;
}

#product1 {
    text-align: center;
}
#product1 .pro-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* left: 20%; */
}

#product1 .pro {
    width: 23%;
    min-height: 250px;
    padding: 10px 12px;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    /* position: relative; */
    /* display: flex; */

}

#product1 .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
    transform: scale(1.05);
    transition: 2.ms;
}

#product1 .pro .des {
    text-align: start;
    padding: 10px;
}

#product1 .pro .des span {
    color: #606063;
    font-size: 12px;
}

#product1 .pro .des h5 {
    /* padding: 7px 0 0 0; */
    color: #1a1a1a;
    font-size: 14px;
}

#product1 .pro .des i {
    font-size: 15px;
    color: rgb(255, 234, 5);
}

#product1 .pro .des h4 {
    padding-top: 7px;
    font-weight: 15px;
    font-weight: 700;
    color: #088178;
    display: block;
}
#product.pro .cart {
    width: 40px ;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ae;
    font-weight: 500;
    color: #088178;
    border: 1px solid #cce7d0;
    position: relative;
    bottom: 20px;
    right: 10px;
}

/* banner */

#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(banner.png);
    width: 100%;height: 40vh;
    background-size: cover;
    background-position: center;

}
#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(banner.png);
    width: 100%;height: 40vh;
    background-size: cover;
    background-position: center;

}


#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(banner.png);
    width: 100%;height: 40vh;
    background-size: cover;
    background-position: center;

}


#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(banner.png);
    width: 100%;height: 40vh;
    background-size: cover;
    background-position: center;

}




